/* 우선순위
전체선택자 < 태그선택자 < 클래스 선택자 < 아이디 선택자
 */
/* 전체 선택자 */
/* 모든 글자를 파란색으로 */
* {
    color: blanchedalmond;
}

/* 태그 선택자 */
/* p를 선택하여 회색 16진수로 */
p {
    color: #999;
}

/* color: #999999;  */

/* 클래스 선택자 */
/* color클래스를 선택해서 빨강-16진수 */
.color {
    color: #ff0000;
}

/* 아이디 선택자 */
/* idcolor 아이디를 선택하여 초록 - rgb로*/
/* rgb 0~255* , 0%~100% */
#idColor {
    color: rgb(0, 255, 0);
}